@{
    ViewData["Title"] = "Inicia sesión";
}
<body class ="index">
<section>
<div>
<h1>Login</h1>
<p>Ingresa tus datos para ver tu cuenta.</p>
</div>
<div>
<p>@ViewBag.Error</p>
    <form action='@Url.Action("VerificarUsuario", "Home")' method="POST" class="form">
        <input type="text" 
            name="usuarioIngresado" 
            maxlength="20" 
            placeholder="Ingresá tu usuario" 
            required 
            autocomplete="off">
        <input type="password" 
            name="contraseñaIngresada" 
            maxlength="20" 
            placeholder="Ingresá tu contraseña" 
            required 
            autocomplete="off">
        <button type="submit" id="submit">Log in</button>
    </form>
</div>
</section>

</body>
