html {
  font-size: 14px;
  min-height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.logged {
  width: 200vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.logged div {
  margin-top: 50%;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logged div p {
  margin: 20px;
  font-size: 18px;
  color: #333;
  border-bottom: 3px solid #3333336b;
  padding: 2%;
}
.logged div a{
  color: #333;
  text-decoration: none;
  padding: 5%;
  background-color: rgb(78, 172, 172) ;
  box-shadow: 3px 3px 8px rgba(47, 131, 124, 0.438);
  border-radius: 10px;
}
.logged div a:hover{
  box-shadow: inset 3px 3px 8px rgb(47, 131, 124);
}
footer {
  margin-top: 10%;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.index{
  background-color: #e9ecef;
}
.index section{
  margin-left: 32%;
  margin-top: 10%;
  width: 25%;
  padding: 7%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.index section div{
  display: flex;
  flex-direction: column;     
  gap: 20px;                  
  width: 100%;
  
}
.index section div h1{
  text-align: center;
  margin-top: -10%;
  font-weight: bold;
}
.index section div p{
  text-align: center;
  margin-bottom: 4%;
  margin-top: 0%;
}
.form{
  display: flex;
  flex-direction: column;  
  gap: 10px;  
}
.form input{
  padding: 2.5%;
border: 1px solid #e9ecef;
margin-bottom: 3%;
border-radius: 5px;
}
.form input:hover{
  border: 1px solid  rgb(78, 172, 172) ;
}

button[type="submit"] {
  background-color: rgb(78, 172, 172);
  padding: 2.5%;
  border: none;
  border-radius: 5px;
}
button[type="submit"]:hover{
  background-color: rgb(69, 143, 143) ;
  cursor: pointer;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  text-align: center;
}